.addItem-container {
  .card-edit-container {
    padding: 16px;
    height: 400px;
    margin-bottom: 100px;

    #standard-multiline-static {
      font-family: "Exo 2", sans-serif;
    }
    #standard-multiline-static-helper-text {
      text-align: end;
      font-family: "Exo 2", sans-serif;
      font-size: 12px;
    }
    #standard-multiline-static-label {
      font-family: "Exo 2", sans-serif;
      font-style: italic;
    }
  }
}
