body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  height: 100%;
  font-family: "Exo 2", sans-serif;
  word-break: break-all;
}

body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #f4f4f4; /* color of the tracking area */
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #ed4d77; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 0.5px solid #f4f4f4; /* creates padding around scroll thumb */
}
